[submodule "vendor/langgraphjs"]
	path = vendor/langgraphjs
	url = git@github.com:langchain-ai/langgraphjs.git
[submodule "vendor/electron"]
	path = vendor/electron
	url = git@github.com:electron/electron.git
[submodule "vendor/multica"]
	path = vendor/multica
	url = git@github.com:multica-ai/multica.git
[submodule "vendor/deer-flow"]
	path = vendor/deer-flow
	url = git@github.com:bytedance/deer-flow.git
